.location {
    width: 266pt;
    border-radius: 4pt;
    margin-left: 8px;
    height: 62pt;
    border: 1px solid rgb(255, 255, 255);
}
.location p {
    margin-top: 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

label {
    color: white;
}
#donate {
    margin:4px;
    float:left;
}

#donate label {
    float:left;
    width:170px;
    margin:4px;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
       
}

#donate label span {
    text-align:center;
    font-size: 14px;
    padding:13px 0px;
    display:block;
}

#donate label input {
    position:absolute;
    margin-top: 16px;
    margin-left: 148px;
    display: block;
}

#donate input:checked + span {
    background-color:  rgb(13, 72, 131);
    color:#F7F7F7;
}

#donate1 {
    float:left;
}

#donate1 .label-for-check {
    float:left;
    width:170px;
    height: 105px;
    margin:4px;
    border-radius:4px;
    border:1px solid #D0D0D0;
}

#donate1 .label-for-check span {
    text-align:center;
    font-size: 14px;
    padding:11px 0px;
    display:block;
}

#donate1 .label-for-check input {
    position:absolute;
    margin-top: 16px;
    margin-left: 10px;
    display: block;
}

#button {
    text-transform: inherit !important;
    width: 348px;
    margin-top: 300px;
    margin-left: -50px;
}
#age {
    text-align: left;
    margin-left: 8px;
    margin-top: 15pt;
}

#drink {
    text-align: left;
    margin-left: 8px;
    margin-top: 138px;
}
hr{
    margin-top: 0px !important; 
}
@media only screen and (min-width: 414px)  ,  (orientation: 731px) {
    #button {
        margin-top: 276px;
        margin-left: -58px;
    }
}

@media only screen and (max-width: 411px) , (orientation: 823px) {
    .location {
        height: 75pt;
    }
    #age {
        margin-top: 23pt;
    }
    #drink {
        margin-top: 159px;
    }
    #button {
        width: 352px;
        margin-top: 297px;
        margin-left: -39px;
    }
    #donate1 .label-for-check {
        width: 172px;
        margin-left: 8px;
    }
    #donate2 label {
        width: 173px !important;
    } 
    #donate label {
        width: 174px;
    }
    hr{
        margin-top: 3rem !important; 
        margin-right: 25px;
    }
}
@media only screen and (min-width: 768px) {
    #button {
        margin-left: -414px;
    }
}
@media only screen and (max-width: 375px) {
    #donate1 {
        margin-left: -15px;
        float: left;
    }
    .location {
        width: 252pt;
    }
    #button {
        margin-top: 122px;
        margin-left: -190px;
        position: fixed;
        visibility:visible;
    }
}

@media only screen and (min-width: 1024px) {
    #button {
        margin-top: 245px;
        margin-left: -332px;
        position: fixed;
        visibility:visible;
    }
}
@media only screen and (max-width: 360px) {
  #donate1 {
      margin-left: -26px;
  }
  #button {
      margin-left: -188px;
      margin-top: 100px;
  }
}
.check-with-label:checked + .label-for-check {
    background-color:  rgb(11, 58, 105);
    color:#F7F7F7;
}
#donate2 {
    margin:4px;
    float:left;
}
#donate2 label {
    float:left;
    width:170px;
    margin:4px;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
}
#donate2 label span {
    text-align:center;
    font-size: 14px;
    padding:13px 0px;
    display:block;
}
#donate2 label input {
    position:absolute;
    margin-top: 16px;
    margin-left: 148px;
    display: block;
}
#donate2 input:checked + span {
    background-color: rgb(12 49 87);
    color:#F7F7F7;
}

