<!-- <div class="container">
    <div class="row">
        <div class="jumbotron text-center">
            <img src="../../assets/home/Image 22.png">

            <div class="heading">
                <h2>Review your photo</h2>
            </div>
            <div class="paragraph">
                <p>Please check your photo before uploading</p>
            </div>
            <hr>
            <div class="image">
                <img src="../../assets/image/Group 2070.png">
            </div>
            <div class="button">
                <button type="button" class="btn btn-light">Light</button>
                <button type="button" class="btn btn-warning">Warning</button>
            </div>
        </div>
    </div>
</div> -->

<main>
    <div class="position-relative">
        <section class="section section-lg section-hero section-shaped">
            <div class="shape shape-style-1 shape-primary">
                <!--        <span class="span-150"></span>-->
                <!--        <span class="span-50"></span>-->
                <!--        <span class="span-50"></span>-->
                <!--        <span class="span-75"></span>-->
                <!--        <span class="span-100"></span>-->
                <!--        <span class="span-75"></span>-->
                <!--        <span class="span-50"></span>-->
                <!--        <span class="span-100"></span>-->
                <!--        <span class="span-50"></span>-->
                <!--        <span class="span-100"></span>-->
            </div>
            <div class="container shape-container d-flex align-items-center py-lg" style="padding-top: 0.5rem !important;">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                            <img src="./assets/home/Image 22.png" style="width: 196px;height: 74px;" class="img-fluid">
                            <!-- <div class="margin-top-90"></div> -->
                            <h3 class="ninito text-white font-24 font-weight-bold">Review your photo</h3>
                            <p class="font-16 text-white">Please check your photo before uploading</p>
                            <hr>
                            <img src="../../assets/image/Group 2070.png" style="width: 315px;height:357px; padding-top:28.5pt;">
                            <div class="col-lg-6 text-center">
                                <div class="btn-wrapper mt-5" style="display:flex">
                                    <a  class="btn btn-lg  btn-padding btn  btn-icon mb-3 mb-sm-0" style="text-transform: inherit !important;width: 150px;border: solid 1px yellow;" (click)="retake()">
                                        <span class="btn-inner--text text-black font-weight-bold" style="margin-left: -20px;color: yellow !important;">Re-Take</span>
                                      </a>
                                  <a class="btn btn-lg  btn-padding btn-yellow btn-icon mb-3 mb-sm-0" style="text-transform: inherit !important;width: 150px;" (click)="next()">
                                    <span class="btn-inner--text text-black font-weight-bold" style="margin-left: -20px;">Upload</span>
                                  </a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-sections></app-sections>
</main>

