#button {
    display:flex;
    margin-left: 21px;  
}

@media only screen and (max-width: 375px) {
    #button {
        margin-left: 0px;
    }
}
@media only screen and (min-width: 768px) {
    #button {
        margin-left: 180px;
        display: -webkit-box;
    }
}
@media only screen and (min-width: 1024px) {
    #button {
        margin-left: 78px;
        display: flex;
    }
}