
<!-- <div class="container">
    <div class="row">
        <div class="jumbotron text-center">
            <img src="../../assets/home/Image 22.png">

            <div class="heading">
                <h2>Congratulations !</h2>
            </div>
            <div class="paragraph">
                <p>Your code matched. You have unlocked <br>the first star.</p>
            </div>
            <div class="rating">
                <ngb-rating [(rate)]="currentRate"></ngb-rating>
            </div>
            <hr>
            <div class="image">
                <p>Your secret code is</p>
                <img src="../../assets/image/Image 24.png">
            </div>
            <div class="button">
                <button mat-raised-button color="primary" (click)="Next()">Claim Reward</button>
            </div>
        </div>
    </div>
</div> -->

<main>
    <div class="position-relative">
        <section class="section section section-hero section-shaped" style="padding-bottom: 0px;padding-top: 0px;">
            <div class="shape shape-style-1 shape-primary">
                <!--        <span class="span-150"></span>-->
                <!--        <span class="span-50"></span>-->
                <!--        <span class="span-50"></span>-->
                <!--        <span class="span-75"></span>-->
                <!--        <span class="span-100"></span>-->
                <!--        <span class="span-75"></span>-->
                <!--        <span class="span-50"></span>-->
                <!--        <span class="span-100"></span>-->
                <!--        <span class="span-50"></span>-->
                <!--        <span class="span-100"></span>-->
            </div>
            <div class="container shape-container d-flex align-items-center py-lg" style="padding-top: 0.5rem !important;">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                            <img src="./assets/home/Image 22.png" style="width: 196px;height: 74px;" class="img-fluid">
                            <!-- <div class="margin-top-90"></div> -->
                            <h3 class="ninito text-white font-24 font-weight-bold" style="text-transform: uppercase;">Congratulations !</h3>
                            <p class="font-16 text-white">Your code matched. You have unlocked the first star.</p>
                            <img src="../../assets/Group 2120.png" style="width: 224.5px;height: 36.3px;">
                            <hr>
                            <p class="font-16 text-white" style="padding-top: 30.5pt;text-transform: uppercase;word-spacing: 3px;">Your  secret code is</p>
                            <img src="../../assets/image/Image 24.png" style="width: 88px;padding-top: 20px;">
                            <div class="col-lg-6 text-center" style="padding-top: 70px;">
                                <div class="btn-wrapper mt-5">
                                  <a (click)="next()" class="btn btn-lg  btn-padding btn-yellow btn-icon mb-3 mb-sm-0" style="text-transform: inherit !important;width: 388px;margin-left: -16px;">
                                    <span class="btn-inner--text text-black font-weight-bold" style="font-size: 18px;">Claim Reward</span>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-sections></app-sections>
</main>
