#button {
    text-transform: inherit !important;
    width: 388px;
    margin-left: -16px;  
}

@media only screen and (max-width: 375px) {
    #button {
       width: 346px;
    }
}

@media only screen and (min-width: 1024px) {
    #button {
        margin-left: 35px;
    }
}