<!-- <div class="container">
    <div class="row">
        <div class="jumbotron text-center">
            <img src="../../assets/home/Image 22.png">

            <div class="heading">
                <h2>You are a lucky winner !</h2>
            </div>
            <div class="paragraph">
                <p>Your item will be shipped to you within <br>
                    10 business days to your address and <br>
                    your delivery details will be sent to you <br>
                    on your mobile number.</p>
            </div>
            <hr>
            <div class="image">
                <img src="../../assets/Image 14.png" style="height: 100pt;">
                <p>Unlock all five stars to win bumper prize</p>
                <div class="rating">
                    <ngb-rating [(rate)]="currentRate"></ngb-rating>
                </div>
                <star-rating-comp [starType]="'icon'" [rating]="3"></star-rating-comp>
                <h3>Keep Drinking ! <br>
                     Keep <b style="color: rgb(255,222,0);">Winning</b> !
                </h3>

                <button id="facebook"> <img src="../../assets/facebook.png"><b style="padding-left: 10px;">Share on Facebook</b></button>
            </div>
        </div>
    </div>
</div> -->

<main>
    <div class="position-relative">
        <section class="section section section-hero section-shaped" style="padding-top:0px; overflow: hidden;">
            <div class="shape shape-style-1 shape-primary">
                <!--        <span class="span-150"></span>-->
                <!--        <span class="span-50"></span>-->
                <!--        <span class="span-50"></span>-->
                <!--        <span class="span-75"></span>-->
                <!--        <span class="span-100"></span>-->
                <!--        <span class="span-75"></span>-->
                <!--        <span class="span-50"></span>-->
                <!--        <span class="span-100"></span>-->
                <!--        <span class="span-50"></span>-->
                <!--        <span class="span-100"></span>-->
            </div>
            <div class="container shape-container d-flex align-items-center py-lg" style="padding-top: 0.5rem !important;">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                            <img src="./assets/home/Image 22.png" style="width: 196px;height: 74px;" class="img-fluid">
                            <!-- <div class="margin-top-90"></div> -->
                            <h3 class="ninito text-white font-24 font-weight-bold" style="text-transform: uppercase;letter-spacing: 0.4pt;">You are a lucky winner !</h3>
                            <p class="font-16 text-white">Your item will be shipped to you within 
                                10 business days to your address and 
                                your delivery details will be sent to you 
                                on your mobile number.</p>
                            <!-- <hr> -->
                            <img src="../../assets/image/Image 14.png" style="height: 122pt; width: 89pt; padding-top: 15pt;">
                            <p class="font-16 text-white" style="padding-top: 20px;">Unlock all five stars to win bumper prize</p>
                            <img src="../../assets/Group 2120.png" style="width: 224.5px;height: 36.3px;">
                            <h3 class="ninito text-white font-24 font-weight-bold" style="padding-top :44.6pt;">Keep Drinking !<br>
                                Keep <span style="color: yellow;">Winning</span> !</h3>
                            <div class="col-lg-6 text-center">
                                <div class="btn-wrapper mt-5">
                                  <a href="#" class="btn btn-lg  btn-padding btn-white btn-icon mb-3 mb-sm-0" style="text-transform: inherit !important;">
                                    <span class="btn-inner--text text-black font-weight-bold"><img src="../../assets/facebook.png" style="padding-right: 12px;"> Share on Facebook</span>
                                  </a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-sections></app-sections>
</main>
